<div class="topbar">
    <div class="homeicon"><a href="/web"><i class="fas fa-home"></i></a></div> 
    <div class="backicon"><a href="{{backButtonLink}}"><i class="fas fa-arrow-left"></i></a></div> 
    <div class="searchcontainer"><input class="search" name="search" /></div> 
</div>