<div class="leftbar font">
	<p><i class="fas fa-home"></i><a href="/web">Home</a></p>
	<p><i class="fas fa-file-alt"></i><a href="/web/documents">Documents</a></p>
	<p><i class="fas fa-book"></i><a href="/web/ebooks">eBooks</a></p>
	<p><i class="fas fa-music"></i><a href="/web/music">Music</a></p>
	<p><i class="fas fa-tv"></i><a href="/web/television">Television Series</a></p>
	<p><i class="fas fa-ticket-alt"></i><a href="/web/movies">Movies</a></p>
	<p><i class="fas fa-cogs"></i><a href="/web/system">System Settings</a></p>
	<p><i class="fas fa-sign-out-alt"></i><a href="/web/sign-out">Sign Out</a></p>
</div>