<div class="leftbar font">

	<p><i class="fas fa-home"></i><a href="/web">Home</a></p>

	<p style="margin-top:50px;"><strong>Reading Material</strong></p>
	<p><i class="fas fa-file-alt"></i><a href="/web/documents">Documents</a></p>
	<p><i class="fas fa-book"></i><a href="/web/ebooks">eBooks</a></p>

	<p style="margin-top:50px;"><strong>Audio</strong></p>
	<p><i class="fas fa-music"></i><a href="/web/music">Music</a></p>
	<p><i class="fas fa-file-audio"></i><a href="/web/sound-bytes">Sound Bytes</a></p>

	<p style="margin-top:50px;"><strong>Video</strong></p>
	<p><i class="fas fa-tv"></i><a href="/web/television">Television Series</a></p>
	<p><i class="fas fa-ticket-alt"></i><a href="/web/movies">Movies</a></p>
	<p><i class="fas fa-film"></i><a href="/web/documentaries">Documentaries</a></p>
	<p><i class="fas fa-volume-up"></i><a href="/web/music-videos">Music Videos</a></p>
	<p><i class="fas fa-volume-down"></i><a href="/web/karaoke-clips">Karaoke Clips</a></p>
	<p><i class="fas fa-video"></i><a href="/web/video-clips">Video Clips</a></p>

	<p style="margin-top:50px;"><strong>Software</strong></p>
	<p><i class="fas fa-tablet-alt"></i><a href="/web/applications">Applications</a></p>
	<p><i class="fas fa-gamepad"></i><a href="/web/games">Games</a></p>
	<p><i class="fas fa-ubuntu"></i><a href="/web/operating-systems">Operating Systems</a></p>

	<p style="margin-top:50px;"><strong>Physibles</strong></p>
	<p><i class="fas fa-paw"></i><a href="/web/physibles">Physibles</a></p>

	<p style="margin-top:50px;"><strong>Images</strong></p>
	<p><i class="fas fa-images"></i><a href="/web/images">Images</a></p>

	<p style="margin-top:50px;"><strong>System</strong></p>
	<p><i class="fas fa-file"></i><a href="/web/files">Files</a></p>
	<p><i class="fas fa-cogs"></i><a href="/web/system">System Settings</a></p>
	<p><i class="fas fa-sign-out-alt"></i><a href="/web/sign-out">Sign Out</a></p>
</div>