<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Authorise | Media Hub</title>
		<meta name="description" content="Media Hub">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		{{> styles}}
		{{> javascript}}
	</head>

	<body class="home">
			<div class="sign-in-header"> 
				<div class="font" style="color: white; font-size: 21px; text-align:center; padding-top: 15px;">Authorisation</div>
				<div class="font" style="color: white; text-align: center; margin-top:20px;">In order to access system settings, please enter the secret password:</div>
			</div>
			<div class="sign-in-body"> 
				<div class="body-form">
					<form action="/web/system" method="post">
						<div class="form-field" style="padding-top: 20px;">
							<div class="font">Password:</div>
							<div class="searchcontainer"><input type="password" class="search" name="password" /></div>
						</div>
						<div class="form-field" style="padding-top: 20px;">
							<button class="save-button font">AUTHORISE</button>
						</div>
					</form>
				</div>

			</div>
	</body>

</html>