<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Convert File To Object | Media Hub</title>
		<meta name="description" content="Media Hub">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		{{> styles}}
		{{> javascript}}
	</head>

	<style>
		.bground {
			padding: 0px;
			background-image: url("/img/files-background.jpg") !important;
			width: 100%;
			height:140%;
			position:fixed;
		}
		.trans {
			padding: 0px;
			background-color: black;
			width: 100%;
			height:140%;
			position:fixed;
			opacity:0.7;
		}
		.main {
			background:transparent;
		}
		.titlearea {
			opacity:0.8;
		}
		.leftbar {
			opacity:0.8;
		}
	</style>

	<body class="home">
		<div class="bground"></div>
		<div class="trans"></div>
		{{> header}}
		<div class="titlearea"> 
		    {{> title}}
		    <div class="righttag font"> <span style="font-size: 16px;">Convert File To Object</span> </div>
		</div>
		<div class="main">
			{{> leftbar}}
			<div class="container2">
				<div class="body-title"><strong>Convert File To Object</strong></div>
				<div class="body-strip"></div>
				<div class="body-form">
					<form action="/web/files/{{fileKey}}" method="post">

						<input type="hidden" name="fileKey" value="{{fileKey}}" />

						<div class="form-group">
							<div class="form-field">
								<div class="font">Filename:</div>
								<div class="searchcontainer"><input class="search" name="filename" value="{{filename}}" disabled /></div>
							</div>
							<div class="form-field">
								<div class="font">Path:</div>
								<div class="searchcontainer"><input class="search" name="path" value="{{path}}" disabled /></div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-field">
								<div class="font">Select Object</div>
								<div class="searchcontainer">
									<select id="objects" class="search" name="object">
										{{{objectList}}}
									</select>
								</div>
							</div>
							<div class="form-field" style="visibility:hidden;">
								<div class="font"></div>
								<div class="searchcontainer"><input class="search" name="placeholder" value="" disabled /></div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-field fields document ebook music television image movie soundByte documentary musicVideo karaokeClip videoClip application game operatingSystem physible">
								<div class="font">Parent Category</div>
								<div class="searchcontainer">
									<select id="parentCategories" class="search" name="parentCategory">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-field fields document ebook music television image movie soundByte documentary musicVideo karaokeClip videoClip application game operatingSystem physible">
								<div class="font">Child Category</div>
								<div class="searchcontainer">
									<select id="childCategories" class="search" name="childCategory">
										<option value=""></option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-field fields document ebook music television image movie soundByte documentary musicVideo karaokeClip videoClip application game operatingSystem physible">
								<div class="font">Title:</div>
								<div class="searchcontainer"><input class="search" name="title" /></div>
							</div>
							<div class="form-field fields document ebook">
								<div class="font">Author:</div>
								<div class="searchcontainer"><input class="search" name="author" /></div>
							</div>
						</div>

						<div class="form-group">
							<div class="form-field fields document ebook music television image movie soundByte documentary musicVideo karaokeClip videoClip application game operatingSystem physible">
								<div class="font">Short Description:</div>
								<div class="searchcontainer" style="height: 200px"><textarea style="height: 200px" class="search" name="shortDesc" ></textarea></div>
							</div>
							<div class="form-field fields document ebook music television image movie soundByte documentary musicVideo karaokeClip videoClip application game operatingSystem physible">
								<div class="font">Long Description:</div>
								<div class="searchcontainer" style="height: 200px"><textarea style="height: 200px" class="search" name="longDesc" ></textarea></div>
							</div>
						</div>

						<!-- EBOOK ONLY FIELDS: -->

						<div class="form-group">
							<div class="form-field fields ebook">
								<div class="font">Publisher:</div>
								<div class="searchcontainer"><input class="search" name="publisher" value="{{ebook.publisher}}" /></div>
							</div>
							<div class="form-field fields ebook">
								<div class="font">Date Published:</div>
								<div class="searchcontainer"><input class="search" name="datePublished" value="{{ebook.datePublished}}" /></div>
							</div>
						</div>

						<div class="form-group">
							<div class="form-field fields ebook">
								<div class="font">Series:</div>
								<div class="searchcontainer"><input class="search" name="series" value="{{ebook.series}}" /></div>
							</div>
							<div class="form-field fields ebook">
								<div class="font">Volume Number:</div>
								<div class="searchcontainer"><input class="search" name="volumeNumber" value="{{ebook.volumeNumber}}" /></div>
							</div>
						</div>

						<div class="form-group">
							<div class="form-field fields ebook">
								<div class="font">ISBN10:</div>
								<div class="searchcontainer"><input class="search" name="ISBN10" value="{{ebook.ISBN10}}" /></div>
							</div>
							<div class="form-field fields ebook">
								<div class="font">ISBN13:</div>
								<div class="searchcontainer"><input class="search" name="ISBN13" value="{{ebook.ISBN13}}" /></div>
							</div>
						</div>

						<div class="form-group">
							<div class="form-field fields ebook">
								<div class="font">Mobi ASIN:</div>
								<div class="searchcontainer"><input class="search" name="mobiAsin" value="{{ebook.mobiAsin}}" /></div>
							</div>
							<div class="form-field fields ebook">
								<div class="font">Language:</div>
								<div class="searchcontainer"><input class="search" name="language" value="{{ebook.language}}" /></div>
							</div>
						</div>

						<!-- / EBOOK ONLY FIELDS: -->

						<div class="form-field">
							<button class="save-button font" style="margin-right: 20px;" name="convert" value="true">CONVERT</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>

	<script>
		$(".fields").hide();
		$(".save-button").attr("disabled", true);
		$(".save-button").css("background-color", "#555555");
		$(".save-button").css("border-color", "#555555");
		$(".save-button").css("cursor", "not-allowed");
		$("#objects").change(function(){
			$("#parentCategories").html("<option value=\"\"></option>");
			$("#childCategories").html("<option value=\"\"></option>");
			if($('#objects').find(":selected").val() != "file"){
				$(".save-button").attr("disabled", false);
				$(".save-button").css("background-color", "#cc7b19");
				$(".save-button").css("border-color", "#cc7b19");
				$(".save-button").css("cursor", "pointer");
				$(".save-button").hover(function() {
					$(this).css("background-color","#dd7b19")
				});
			} else {
				$(".save-button").attr("disabled", true);
				$(".save-button").css("background-color", "#555555");
				$(".save-button").css("border-color", "#555555");
				$(".save-button").css("cursor", "not-allowed");
			}
			if($('#objects').find(":selected").val() == "file"){
				$(".fields").hide();
				$(".file").show();
			}
			if($('#objects').find(":selected").val() == "document"){
				$(".fields").hide();
				$(".document").show();
			}
			if($('#objects').find(":selected").val() == "ebook"){
				$(".fields").hide();
				$(".ebook").show();
			}
			if($('#objects').find(":selected").val() == "music"){
				$(".fields").hide();
				$(".music").show();
			}
			if($('#objects').find(":selected").val() == "soundByte"){
				$(".fields").hide();
				$(".soundByte").show();
			}
			if($('#objects').find(":selected").val() == "television"){
				$(".fields").hide();
				$(".television").show();
			}
			if($('#objects').find(":selected").val() == "movie"){
				$(".fields").hide();
				$(".movie").show();
			}
			if($('#objects').find(":selected").val() == "documentary"){
				$(".fields").hide();
				$(".documentary").show();
			}
			if($('#objects').find(":selected").val() == "musicVideo"){
				$(".fields").hide();
				$(".musicVideo").show();
			}
			if($('#objects').find(":selected").val() == "karaokeClip"){
				$(".fields").hide();
				$(".karaokeClip").show();
			}
			if($('#objects').find(":selected").val() == "videoClip"){
				$(".fields").hide();
				$(".videoClip").show();
			}
			if($('#objects').find(":selected").val() == "application"){
				$(".fields").hide();
				$(".application").show();
			}
			if($('#objects').find(":selected").val() == "game"){
				$(".fields").hide();
				$(".game").show();
			}
			if($('#objects').find(":selected").val() == "operatingSystem"){
				$(".fields").hide();
				$(".operatingSystem").show();
			}
			if($('#objects').find(":selected").val() == "physible"){
				$(".fields").hide();
				$(".physible").show();
			}
			if($('#objects').find(":selected").val() == "image"){
				$(".fields").hide();
				$(".image").show();
			}
			$.get("/api/categories?type=" + $('#objects').find(":selected").val(), function(data, status){
				for (var i = 0; i < data.length; i++) {
					$("#parentCategories").append("<option value=\"" + data[i].key + "\">" + data[i].title + "</option>");
				}
			});
		});
		$("#parentCategories").change(function(){
			$("#childCategories").html("<option value=\"\"></option>");
			var selectedValue = $('#parentCategories').find(":selected").val();
			if(selectedValue) {
				$.get("/api/categories?category=" + selectedValue, function(data, status){
					for (var i = 0; i < data.length; i++) {
						$("#childCategories").append("<option value=\"" + data[i].key + "\">" + data[i].title + "</option>");
					}
				});
			}
		});

	</script>

</html>