<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Physible Details | Media Hub</title>
		<meta name="description" content="Media Hub">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		{{> styles}}
		{{> javascript}}
	</head>

	<style>
		.bground {
			padding: 0px;
			background-image: url("/img/physible-background.png") !important;
			width: 100%;
			height:140%;
			position:fixed;
		}
		.trans {
			padding: 0px;
			background-color: black;
			width: 100%;
			height:140%;
			position:fixed;
			opacity:0.8;
		}
		.main {
			background:transparent;
		}
		.titlearea {
			opacity:0.8;
		}
		.leftbar {
			opacity:0.8;
		}
	</style>

	<body class="home">
		<div class="bground"></div>
		<div class="trans"></div>
		{{> header}}
		<div class="titlearea"> 
		    {{> title}}
		    <div class="righttag font"> 
		    	<span style="font-size: 16px;">Physible Details</span> 
		    	<a href="/web/files/{{physible.fileKey}}/download">
		    		<i class="fas fa-download" style="margin-left:30px; color: white;" title="Download This Physible"></i>
		    	</a>
		    	<a href="/web/physibles/{{physible.key}}/edit">
		    		<i class="fas fa-edit" style="margin-left:2px; color: white;" title="Edit Physible Details"></i>
		    	</a>
		    	{{#showRevertToFile}}
		    	<a href="/web/physibles/{{physible.key}}/revert">
		    		<i class="fas fa-history" style="margin-left:2px; color: white;" title="Revert Physible To File"></i>
		    	</a>
		    	{{/showRevertToFile}}
		    </div>
		</div>
		<div class="main">
			{{> leftbar}}
			<div class="container2">
				<a href="/web/files/{{physible.fileKey}}/download">
					<img src="/img/download-tile.png" title="Download This Physible" style="margin-left:40%; margin-top:10%"/>
				</a>
			</div>
		</div>



	</body>

</html>