<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>eBooks | Media Hub</title>
		<meta name="description" content="Media Hub">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		{{> styles}}
		{{> javascript}}
	</head>

	<body class="home">
		{{> header}}
		<div class="titlearea"> 
		    <div class="lefttitle"> <p class="font lefttitletext"><strong>Media Centre</strong></p> </div>
		    <div class="righttag font"> <span style="font-size: 16px;">eBooks</span> </div>
		</div>
		<div class="main">
			{{> leftbar}}
			<div class="container">
				<a href="/web/read"> <div class="bigbox"><div class="logo"><img src="/img/book.jpg"/><p class="font2"> Test eBook </p></div></div> </a>
				<a href="/web/read"> <div class="bigbox"><div class="logo"><img src="/img/book.jpg"/><p class="font2"> Test eBook </p></div></div> </a>
				<a href="/web/read"> <div class="bigbox"><div class="logo"><img src="/img/book.jpg"/><p class="font2"> Test eBook </p></div></div> </a>
				<a href="/web/read"> <div class="bigbox"><div class="logo"><img src="/img/book.jpg"/><p class="font2"> Test eBook </p></div></div> </a>
				<a href="/web/read"> <div class="bigbox"><div class="logo"><img src="/img/book.jpg"/><p class="font2"> Test eBook </p></div></div> </a>
				<a href="/web/read"> <div class="bigbox"><div class="logo"><img src="/img/book.jpg"/><p class="font2"> Test eBook </p></div></div> </a>
				<a href="/web/read"> <div class="bigbox"><div class="logo"><img src="/img/book.jpg"/><p class="font2"> Test eBook </p></div></div> </a>
				<a href="/web/read"> <div class="bigbox"><div class="logo"><img src="/img/book.jpg"/><p class="font2"> Test eBook </p></div></div> </a>
			</div>
		</div>
	</body>

</html>