<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Media Hub</title>
		<meta name="description" content="Media Hub">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		{{> styles}}
		{{> javascript}}
	</head>

	<body class="home">
		{{> header}}
		<div class="titlearea"> 
			{{> title}}
		    <div class="righttag font"> <span style="font-size: 16px;">Home</span> </div>
		</div>
		<div class="main">
			{{> leftbar}}
			<div class="container2">
				<div class="body-title"><strong>Home</strong></div>
				<div class="body-strip"></div>
				<p class="font" style="margin-left:25px; margin-top:50px;">Welcome to Media Hub.</p>
				<p class="font" style="margin-left:25px;">Use Media Hub to organise all of your folders and files. You can organise and manage - Documents, eBooks, Music, Sound Bytes, Television Series, Movies, Documentaries, Music Videos, Karaoke Clips, Video Clips, Applications, Games, Operating Systems, Physibles & Images.</p>
				<h2 style="margin-left:25px; margin-top:50px; color:white;">Get Started</h2>
				<p class="font" style="margin-left:25px;">
					<ol class="font">
						<li>Go to System Settings and configure your file path (to index) and re-index frequency</li>
						<li>Force a sync or wait for your files to sync</li>
						<li>Go to the Files section to see all files that were indexed</li>
						<li>Click each file to go to the Convert to Object screen</li>
						<li>On the Convert to Object screen - select an object type, enter meta-data and click Convert</li>
						<li>That file will now appear in the relevent object section - Documents, eBooks, etc</li>
					</ol>
				</p>
			</div>
		</div>



	</body>

</html>