<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Edit Karaoke Clip | Media Hub</title>
		<meta name="description" content="Media Hub">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		{{> styles}}
		{{> javascript}}
	</head>

	<body class="home">
		{{> header}}
		<div class="titlearea"> 
		    {{> title}}
		    <div class="righttag font"> <span style="font-size: 16px;">Edit Karaoke Clip</span> </div>
		</div>
		<div class="main">
			{{> leftbar}}
			<div class="container2">
				<div class="body-title"><strong>Edit Karaoke Clip</strong></div>
				<div class="body-strip"></div>
				<div class="body-form">
					<form action="/web/karaoke-clips/{{karaokeClip.key}}/edit" method="post">

						<div class="form-group">
							<div class="form-field">
								<div class="font">Title:</div>
								<div class="searchcontainer"><input class="search" name="title" value="{{karaokeClip.title}}" /></div>
							</div>
						</div>

						<div class="form-group">
							<div class="form-field">
								<div class="font">Short Description:</div>
								<div class="searchcontainer" style="height: 200px"><textarea style="height: 200px" class="search" name="shortDesc">{{karaokeClip.shortDesc}}</textarea></div>
							</div>
							<div class="form-field">
								<div class="font">Long Description:</div>
								<div class="searchcontainer" style="height: 200px"><textarea style="height: 200px" class="search" name="longDesc" >{{karaokeClip.longDesc}}</textarea></div>
							</div>
						</div>

						<div class="form-field">
							<button class="save-button font" style="margin-right: 20px;" name="convert" value="true">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>

</html>