<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>System Settings | Media Hub</title>
		<meta name="description" content="Media Hub">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		{{> styles}}
		{{> javascript}}
	</head>

	<body class="home">
		{{> header}}
		<div class="titlearea"> 
		    {{> title}}
		    <div class="righttag font"> <span style="font-size: 16px;">System Settings</span> </div>
		</div>
		<div class="main">
			{{> leftbar}}
			<div class="container2">
				<div class="body-title"><strong>Settings</strong></div>
				<div class="body-strip"></div>
				<div class="body-form">
					<form action="/web/system" method="post">
						<input type="hidden" name="password" value="{{password}}"/>
						<div class="form-group">
							<div class="form-field">
								<div class="font">Folder Path:</div>
								<div class="searchcontainer" style="width: 830px;"><input style="width: 830px;" class="search" name="folder" value="{{folder}}" /></div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-field">
								<div class="font">Reindex Frequency:</div>
								<div class="searchcontainer"><input class="search" name="reindexFreq" value="{{reindexFreq}}" /></div>
							</div>
							<div class="form-field">
								<div class="font">Default Page Size</div>
								<div class="searchcontainer">
									<select id="objects" class="search" name="defaultPageSize">
										<option value="20" {{twenty}}>20</option>
										<option value="50" {{fifty}}>50</option>
										<option value="100" {{hundred}}>100</option>
										<option value="250" {{twofifty}}>250</option>
									</select>
								</div>
							</div>
							<!-- <div class="form-field">
								<div class="font">Watch Filesystem for Changes</div>
								<div class="searchcontainer">
									<select class="search" name="watch">
										<option {{watchYesSelected}}>Yes</option>
										<option {{watchNoSelected}}>No</option>
									</select>
								</div>
							</div> -->
						</div>
						<div class="form-group">
							<div class="form-field">
								<div class="font">Show Object Types</div>
								<div class="searchcontainer" style="display: block; position: relative; height: 500px;">
									<p><input type="checkbox" name="documents" value="1" {{documentsSelected}}/> &nbsp;&nbsp; Documents</p>
									<p><input type="checkbox" name="ebooks" value="1" {{ebooksSelected}}/> &nbsp;&nbsp; eBooks</p>
									<p><input type="checkbox" name="music" value="1" {{musicSelected}}/> &nbsp;&nbsp; Music</p>
									<p><input type="checkbox" name="soundBytes" value="1" {{soundBytesSelected}}/> &nbsp;&nbsp; Sound Bytes</p>
									<p><input type="checkbox" name="television" value="1" {{televisionSelected}}/> &nbsp;&nbsp; Television Series</p>
									<p><input type="checkbox" name="movies" value="1" {{moviesSelected}}/> &nbsp;&nbsp; Movies</p>
									<p><input type="checkbox" name="documentaries" value="1" {{documentariesSelected}}/> &nbsp;&nbsp; Documentaries</p>
									<p><input type="checkbox" name="musicVideos" value="1" {{musicVideosSelected}}/> &nbsp;&nbsp; Music Videos</p>
									<p><input type="checkbox" name="karaokeClips" value="1" {{karaokeClipsSelected}}/> &nbsp;&nbsp; Karaoke Clips</p>
									<p><input type="checkbox" name="videoClips" value="1" {{videoClipsSelected}}/> &nbsp;&nbsp; Video Clips</p>
									<p><input type="checkbox" name="applications" value="1" {{applicationsSelected}}/> &nbsp;&nbsp; Applications</p>
									<p><input type="checkbox" name="games" value="1" {{gamesSelected}}/> &nbsp;&nbsp; Games</p>
									<p><input type="checkbox" name="operatingSystems" value="1" {{operatingSystemsSelected}}/> &nbsp;&nbsp; Operating Systems</p>
									<p><input type="checkbox" name="physibles" value="1" {{physiblesSelected}}/> &nbsp;&nbsp; Physibles</p>
									<p><input type="checkbox" name="images" value="1" {{imagesSelected}}/> &nbsp;&nbsp; Images</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-field">
								<div class="font">Hide System Settings From Nav</div>
								<div class="searchcontainer">
									<select class="search" name="hideSystemSettings">
										<option {{hideSystemSettingsNoSelected}} value="no">No</option>
										<option {{hideSystemSettingsYesSelected}} value="yes">Yes</option>
									</select>
								</div>
							</div>
							<div class="form-field">
								<div class="font">Hide Sign Out Link From Nav</div>
								<div class="searchcontainer">
									<select class="search" name="hideSignOutLink">
										<option {{hideSignOutLinkNoSelected}} value="no">No</option>
										<option {{hideSignOutLinkYesSelected}} value="yes">Yes</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-field">
								<div class="font">Hide Files Link From Nav</div>
								<div class="searchcontainer">
									<select class="search" name="hideFilesLink">
										<option {{hideFilesLinkNoSelected}} value="no">No</option>
										<option {{hideFilesLinkYesSelected}} value="yes">Yes</option>
									</select>
								</div>
							</div>
							<div class="form-field">
								<div class="font">Hide Revert to File Button</div>
								<div class="searchcontainer">
									<select class="search" name="hideRevertToFile">
										<option {{hideRevertToFileNoSelected}} value="no">No</option>
										<option {{hideRevertToFileYesSelected}} value="yes">Yes</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-field">
								<div class="font">System Settings Password:</div>
								<div class="searchcontainer"><input style="width: 830px;" class="search" name="systemSettingsPassword" value="{{systemSettingsPassword}}" /></div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-field">
								<div class="font">Annnouncement:</div>
								<div class="searchcontainer"><input style="width: 830px;" class="search" name="announcement" value="{{announcement}}" /></div>
							</div>
						</div>
						<div class="form-field">
							<button class="save-button font" style="margin-right: 20px;" name="save" value="true">SAVE CHANGES</button>
							<button class="save-button font" name="sync" value="true">SYNC NOW</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>

</html>