<script src="/js/lib/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/lib/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/jqueryui/jquery-ui.min.js"></script>
<script src="/js/lib/bootstrap-table/bootstrap-table.js"></script>
<script src="/js/lib/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/js/app.js"></script>